<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <h1>Главная страница</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi voluptatem, saepe similique, qui rerum fugiat quas hic reiciendis rem minus dolore velit atque cupiditate mollitia accusamus dolorum possimus ratione?</p>
    </main>
    
</body>
</html>