<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">Главная</a>
        <a href="/user">Пользователь</a>
    </nav>
    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="Имя пользователья">
        <button type="submit">Поиск</button>
    </form>

</header>