<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">Главная</a>
        <a href="/user">Пользователь</a>
    </nav>
    <form>
        <input type="text" placeholder="Имя пользователья">
        <button>Поиск</button>
    </form>

</header>